# Volunteer Service Configuration
PORT=8082
DB_HOST=localhost
DB_PORT=5434
DB_USER=volunteer_user
DB_PASSWORD=volunteer_pass
DB_NAME=volunteers_db
DB_SSLMODE=disable
INCIDENT_SERVICE_URL=http://localhost:8081
LOGISTICS_SERVICE_URL=http://localhost:8086
