ENVIRONMENT=development
PORT=8084
LOG_LEVEL=info

# Database
POSTGRES_HOST=shelter-db
POSTGRES_PORT=5432
POSTGRES_USER=shelter_user
POSTGRES_PASSWORD=shelter_pass
POSTGRES_DB=shelters_db

# External Services
RESOURCE_SERVICE_URL=http://resource-service:8083

# Tracing
JAEGER_AGENT_HOST=localhost
JAEGER_AGENT_PORT=6831
