PORT=8083
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/?retryWrites=true&w=majority
DB_NAME=resource_db
COLLECTION_NAME=resources
SHELTER_SERVICE_URL=http://localhost:8084
MONGO_TIMEOUT_SECONDS=10
SHELTER_TIMEOUT_SECONDS=5
