ENVIRONMENT=development
PORT=8085
LOG_LEVEL=info

# Database
POSTGRES_HOST=alert-db
POSTGRES_PORT=5432
POSTGRES_USER=alert_user
POSTGRES_PASSWORD=alert_pass
POSTGRES_DB=alerts_db

# External Services
INCIDENT_SERVICE_URL=http://incident-service:8081

# Tracing
JAEGER_AGENT_HOST=localhost
JAEGER_AGENT_PORT=6831
