ENVIRONMENT=development
PORT=8081
LOG_LEVEL=info

# Database
POSTGRES_HOST=incident-db
POSTGRES_PORT=5432
POSTGRES_USER=incident_user
POSTGRES_PASSWORD=incident_pass
POSTGRES_DB=incidents_db

# External Services
ALERT_SERVICE_URL=http://alert-service:8085
RESOURCE_SERVICE_URL=http://resource-service:8083

# Tracing
JAEGER_AGENT_HOST=localhost
JAEGER_AGENT_PORT=6831
